<c:include resource="waibuDb.template:/partial/_form.html" />
<c:grid-row gutter="2" margin="top-2">
  <c:grid-col col="6-lg">
    <c:wdb-btn-back />
    <% if (schema.disabled.includes('remove') && schema.disabled.includes('update')) { %>
    <c:wdb-btn-export selector="#main-form" handler="details" launch-margin="start-1"/>
    <% } else { %>
    <c:btn-group margin="start-1">
      <c:wdb-btn-edit />
      <c:wdb-btn-clone />
      <c:wdb-btn-export selector="#main-form" handler="details" launch-on-end/>
    </c:btn-group>
    <% } %>
  </c:grid-col>
  <c:grid-col col="6-lg" flex="justify-content:end-lg align-items:center">
    <c:wdb-btn-delete/>
  </c:grid-col>
</c:grid-row>
<c:include resource="waibuDb.template:/partial/_addons.html" />