<c:grid-row gutter="2">
  <c:grid-col col="6-md">
    <c:wdb-btn-back />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:div flex="justify-content:end-md align-items:center">
      <c:btn type="reset" color="secondary" t:content="reset" />
      <c:btn type="submit" color="primary" t:content="submit" margin="start-2"/>
    </c:div>
  </c:grid-col>
  <c:grid-col col="12" margin="top-4">
    <c:form-switch name="_addmore" t:label="addMoreAfterSubmit"/>
    <c:form-switch name="_cloneprev" t:label="clonePrevious"/>
  </c:grid-col>
</c:grid-row>
