<% for (const l of schema.view.layout) { %>
<c:fieldset <%= schema.view.card === false ? '' : 'card' %> <% if (l.name[0] !== '_') print('t:legend="' + l.name + '"') %> grid-gutter="2">
  <% for (const w of l.widgets) {
    const prop = _.find(schema.properties, { name: w.name })
    const attr = []
    _.forOwn(w.attr, (v, k) => {
      attr.push(`${k}="${v}"`)
    })
    print(`<c:${w.component} ${w.attr.label ? ('label="' + _t(w.attr.label) + '"') : ''} data-type="${prop.type}" label-floating name="${w.name}" ${attr.join(' ')} />`)
  } %>
</c:fieldset>
<% } %>
