<c:grid-row gutter="2">
  <c:grid-col col="6-md">
    <c:heading type="5-display" t:content="Details" />
  </c:grid-col>
  <c:grid-col col="6-md" flex="justify-content:end align-items:center">
    <c:div>
      <c:wdb-btn-back />
    </c:div>
  </c:grid-col>
</c:grid-row>
<c:grid-row gutter="2" margin="top-3 bottom-3">
  <% for (const k in form) { %>
  <c:grid-col col="4-lg 6-md">
    <c:form-plaintext name="<%= k %>" label-floating/>
  </c:grid-col>
  <% } %>
</c:grid-row>
<c:grid-row gutter="2">
  <c:grid-col col="6-md">
    <c:btn-group>
      <c:wdb-btn-clone />
      <c:wdb-btn-edit />
    </c:btn-group>
  </c:grid-col>
  <c:grid-col col="6-md" flex="justify-content:end align-items:center">
    <c:wdb-btn-delete />
  </c:grid-col>
</c:grid-row>
